
body{
    background: linear-gradient(#ff7e5f,#feb47b);
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn-container{
    /* background-color: lightblue; */
    border: 2px solid black;
    border-radius: 30px;
    width: 600px;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 70px;
}

.addrc, .manage {
    text-decoration: none;
    color: white;
    margin-right: 60px;
    margin-left: 60px;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    border: 2px solid pink;
    border-radius: 20px;

}

.addrc:hover,.manage:hover {
    border-color: rgb(0, 150, 196);
    color: rgb(35, 187, 233);
}

.count-container{
    /* text-align: center; */
    margin-top: 20px;
    padding: 10px;
    /* background-color: lightseagreen; */
    border: 2px solid black;
    border-radius: 30px;
    width: 1000px;
    height: 450px;
    padding-left: 20px;
    padding-right: 20px;
}

.main-count{
    /* background-color: red; */
    height: 120px;
    display: flex;
    justify-content: center;
}

.total-recipe{
    display: flex;
    background-color: rgb(20, 19, 19);
    border-radius: 20px;
    width: 300px;
    height: 120px;
    justify-content: center;
}

.sub-count-container {
    display: flex;
    justify-content: center;
    vertical-align: center;
    padding-top: 20px;
    
}

.sub-count{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    column-gap: 50px;
    row-gap: 20px;
}

.italian, .chineese, .srilankan, .japanese, .thai, .desserts {
    display: flex;
    background-color: rgb(20, 19, 19);
    height: 120px;
    width: 300px;
    margin: 5px;
    border-radius: 20px;
    justify-content: center;
}

.title{
    color: white;
    padding-top: 15px;
}

.count {
    color: white;
    position: absolute;
    margin-top: 50px;
    font-size: 40px;
}

.footer {
    position: absolute;
    z-index: 100;
    bottom: -200px;
}

.homediv {
    border: 2px solid black;
    border-radius: 30px;
    width: auto;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 50px;
}

.home {
    text-decoration: none;
    color: white;
    margin-right: 60px;
    margin-left: 60px;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    border: 2px solid pink;
    border-radius: 20px;
}

.home:hover{
    border: 2px solid rgb(204, 21, 21);
    color: rgb(235, 35, 35);
}