@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto:wght@400;700&display=swap');

body{
    margin: 0;
    
}

.navbar {
 width: 100%;
 background: linear-gradient(180deg,#232526,#414345);
 height: 80px;
 display: flex;
 flex-direction: row;
}

.nav-container {
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 90px;
}

.left img {
    width: 60px;
    height: 54px;
    transition: 0.25s;
}

.nav-links{
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    /* background-color: pink; */
    
}

.nav-links li {
    
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-bottom: 2px solid transparent;
    transition: 0.25s;
    font-family: 'Balsamiq Sans', cursive;
}

.nav-links a:hover {
    color: aqua;
    border-bottom: 2px solid #0083B0;
    background: -webkit-linear-gradient(#00B4DB,#0083B0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left img:hover {
    -webkit-mask-image: -webkit-gradient(linear, left 70%, left bottom, from(rgb(0, 143, 199)), to(rgba(0, 61, 141, 0)))
}

.hamburger-menu{
    display: none;
}
.hamburger{
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
}

@media (max-width: 400px){
    /* .right ul{
        display: none;
    } */
    .hamburger-menu{
        display: block;
    }
    .nav-container{
        padding: 0;
        justify-content: space-between;
    }

    .nav-links{
        top: 64px;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        background: linear-gradient(180deg,#232526,#414345);
        height: 0;
        width: auto;
        text-align: center;
        padding: 20px 5px;
        opacity: 0;
        transition: 0.1s;
    }

    .nav-links.active{
        position: absolute;
        left: 0;
        right: 0;
        background: linear-gradient(180deg,#232526,#414345);
        display: block;
        height: auto;
        width: auto;
        text-align: center;
        padding: 20px 5px;
        transition: 0.25s;
        opacity: 1;
    }

    .right ul li {
        display: block;
        transition: 0.25s;
        
    }
}